h1 {
    font-size: 24px;
    font-weight: 700;
    padding: 0;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    margin-top: 50px;
}

@media screen and (min-width:768px) {

    .informationBlock {
        display: flex;
        margin-right: auto;
        align-items: flex-start;
        margin-left: auto;
        justify-content: space-between;
        max-width: 1000px;
        width: 100%;
    }


}