.inputContainer {
    display: flex;
    width: 100%;
    max-width: 320px;
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.parcelNumberInput {
    width: 250px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 2px solid red;
    background-color: inherit;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 30px;
    font-size: 22px;
    background-color: white;
}

.parcelNumberInput:focus {
    outline: none
}

.inputCross {
    background-image: url('../../img/croosRed.png');
    background-size: contain;
    width: 18px;
    height: 18px;
    position: absolute;
    background-repeat: no-repeat;
    top: 10px;
    right: 8px;
}

.wareHouseFild {
    min-width: 100%;
    width: 100%;
}


.wareHouseFild:disabled {
    border-color: rgb(184, 184, 184);
}

.wareHouseFild:disabled~.inputCross {
    display: none;
}

.hidenCross {
    display: none;
}