.modal {
    width: 250px;
    height: calc(100%);
    background-color: rgba(255, 255, 255, 0.848);
    position: absolute;
    top: 0px;
    left: -250px;
    transition: left 1s;
}

.isOpen {
    left: 0;
    transition: all 1s;
}