@import-normalize;

@font-face {
  font-family: 'Robo';
  src: url('./font/PTSansNarrow-Bold.ttf') format('ttf'),

}

body {

  font-family: 'Robo', sans-serif;
  font-weight: 400;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}