@import-normalize;

@font-face {
  font-family: 'Robo';
  src: url('./font/PTSansNarrow-Bold.ttf') format('ttf'),

}

body {

  font-family: 'Robo', sans-serif;
  font-weight: 400;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: rgb(214, 7, 7);
}

button:active {
  background-color: rgb(154, 3, 3);
}

li {
  cursor: pointer;
}